<?xml version="1.0"?>
<configuration>
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application.
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0"/>
    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running
          on the local Web server. This setting is recommended for security purposes, so
          that you do not display application detail information to remote clients.
    -->
    <customErrors mode="RemoteOnly"/>
    <!-- The <authentication> section enables configuration 
         of the security authentication mode used by 
         ASP.NET to identify an incoming user. 
    -->
    <authentication mode="None"/>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application.
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the
          application trace log by browsing the "trace.axd" page from your web application
          root.
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session.
          If cookies are not available, a session can be tracked by adding a session identifier to the URL.
          To disable cookies, set sessionState cookieless="true". Default mode="InProc"
    -->
    <sessionState mode="InProc" timeout="20"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application.
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!-- Removed to support the Intuitive.aspx page.
         See: http://weblogs.asp.net/scottgu/archive/2006/12/10/gotcha-don-t-use-xhtmlconformance-mode-legacy-with-asp-net-ajax.aspx
    <xhtmlConformance mode="Legacy"/>
    -->
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <appSettings>
    <add key="com.qas.proweb.serverURL" value="https://ws3.ondemand.qas.com/ProOnDemand/V3/ProOnDemandService.asmx"/>
    <add key="com.qas.proweb.username" value="ws_609_ext"/>
    <add key="com.qas.proweb.password" value="m3d1b2NK2O14"/>
    <add key="com.qas.proweb.layout" value="MedibankCRM"/>
    <!-- Un-comment the following lines if connecting through a proxy server -->
    <!--<add key="com.qas.proweb.proxy.address" value="PROXY_ADDRESS:PORT"/>-->
    <!--<add key="com.qas.proweb.proxy.username" value="PROXY_USER"/>-->
    <!--<add key="com.qas.proweb.proxy.password" value="PROXY_PASSWORD"/>-->
  </appSettings>
</configuration>